.plugin-sample {
  &__custom-tab {
    background-color: var(--b3-theme-background);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__custom-dock {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    background: var(--b3-card-info-background);
    border-radius: 4px;
    padding: 2px 8px;
  }
}

.syterm {
    box-sizing: border-box;
    overflow: hidden;
}

.syterm>.composite.title {
    display: flex;
    border-top-width: 1px;
    border-top-style: solid;
}

.syterm>.composite.title>.panel-switcher-container>.action-bar {
    line-height: 27px;
    height: 35px;
    white-space: nowrap;
}

.action-bar .actions-container {
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
}

.action-item {
    font-size: 11px;
    text-transform: uppercase;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.syterm>.title {
    height: 35px;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
}

.syterm>.content {
    font-size: 13px;
}

.syterm>.content>.composite {
    height: 100%;
}